thead {
  font-weight: 700;
}

td {
  width: 25%;
  padding: 1% 5%;
}

.data-container {
  display: flex;
  width: 100vw;
}

.house-table {
  width: 50%;
}

.house-detail {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: absolute;
  left: 45%;
}

.crest,
.motto {
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  padding: 0 0 2rem 1rem;
  margin-bottom: 2rem;
  height: 200px;
}
